version: '3.8'

services:
  app:
    build: .
    container_name: mono-client
    restart: unless-stopped
    environment:
      PORT: 8080
      PG_DSN: postgresql://app_user:app_pass@db:5432/app_db?sslmode=disable
      REDIS_ADD: redis:6379
      REDIS_PASS: ""
      REDIS_DB: 0
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthys

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: app_pass
      POSTGRES_USER: app_user
      POSTGRES_DB: app_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app_user"]
      interval: 5s
      timeout: 5s
      retries: 5


  redis:
    image: redis:latest
    restart: always
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5


volumes:
  pgdata:
  redis_data:
